.wrapper.clearfix
  = render 'shared/main-header'
  = render 'shared/exhibit-btn'
  .main.clearfix
    .sub.clearfix
      = render 'shared/side-bar'
      .contents
        .content
          %li
            = link_to "", class: 'content--main' do
              %img.content--main__image{:src => "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
              %h2.content--main__name
                name
              .content--main__number.clearfix
                .content--main__number--left
                  評価
                .content--main__number--total
                  11
                .content--main__number--right
                  出品数 
                .content--main__number--total
                  11
        .contents__todo.clearfix
          .contents__todo--left
            = link_to "", class: 'contents__todo--left__box' do
              %span  お知らせ
          .contents__todo--right
            = link_to "", class: 'contents__todo--right__box' do
              %span  やることリスト
        %li
          = link_to "", class: 'contents__todo--list' do
            %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
            .contents__todo--list__body
              .contents__todo--list__body--text
                招待コード「MOTTAINAI」を入力してメルペイをはじめるとP1,000が必ずもらえる！
              .contents__todo--list__body--time
                %i.far.fa-clock
                5時間前
            %i.fas.fa-chevron-right.contents__todo--list__icon
        %li
          = link_to "", class: 'contents__todo--list' do
            %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
            .contents__todo--list__body
              .contents__todo--list__body--text
                招待コード「MOTTAINAI」を入力してメルペイをはじめるとP1,000が必ずもらえる！
              .contents__todo--list__body--time
                %i.far.fa-clock
                5時間前
            %i.fas.fa-chevron-right.contents__todo--list__icon
        %li
          = link_to "", class: 'contents__todo--list' do
            %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
            .contents__todo--list__body
              .contents__todo--list__body--text
                招待コード「MOTTAINAI」を入力してメルペイをはじめるとP1,000が必ずもらえる！
              .contents__todo--list__body--time
                %i.far.fa-clock
                5時間前
            %i.fas.fa-chevron-right.contents__todo--list__icon
        %li
          = link_to "", class: 'contents__todo--list' do
            %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
            .contents__todo--list__body
              .contents__todo--list__body--text
                招待コード「MOTTAINAI」を入力してメルペイをはじめるとP1,000が必ずもらえる！
              .contents__todo--list__body--time
                %i.far.fa-clock
                5時間前
            %i.fas.fa-chevron-right.contents__todo--list__icon
        %li
          = link_to "", class: 'contents__todo--list' do
            %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
            .contents__todo--list__body
              .contents__todo--list__body--text
                招待コード「MOTTAINAI」を入力してメルペイをはじめるとP1,000が必ずもらえる！
              .contents__todo--list__body--time
                %i.far.fa-clock
                5時間前
            %i.fas.fa-chevron-right.contents__todo--list__icon
        .contents__todo--go-list
          %li
            = link_to "", class: 'contents__todo--go-list__center' do
              %span  一覧を見る
        .content__under
          %h4
            購入した商品
          .content__under--center.clearfix
            .content__under--center__left
              .content__under--center__left--box
                取引中
            .content__under--center__right
              .content__under--center__right--box
                過去の取引
          .content__under--main
            取引中の商品がありません
  = render 'shared/announcement'
  = render 'shared/main-footer'